body {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 100%;
    max-width: 1920px;
    /* justify-content: space-between; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
}

.nav {
    list-style-type: none;
    align-items: center;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;

}

nav {
    margin-left: 40px;
    text-decoration: none;
}

.nav>li {
    margin-right: 45px;
}

.nav>li>a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    display: block;
    width: 225px;
    height: 28px;
    background-image: url(../src/MainPage/logoNebula.svg);

}

/*--------PAGE---------*/

.page>img {
    width: 100%;
    height: 100%;
    margin-top: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "ethnocen";
}

.mainTitle {
    text-align: center;
    margin-top: 150px;
    color: #974C85;
    font-size: 40px;
    letter-spacing: 5px;
}

@font-face {
    font-family: "ethnocen";
    src: url("../fonts/ethnocen.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}