body {
    background-color: #ffffff;
}

.navbar {
    background-color: #ffffff;
}

.headImage {
    margin-top: 100px;
    margin-bottom: 190px;
    background-image: url(src/);
}

.fontNebula {
    margin-top: 50px;
    text-align: center;

}

.nebulaBikeGif {}

.borders {
    background-color: #d5d5df;
    border-top: 10px solid;
    /* border-bottom: 10px solid; */
    border-color: #8b8899;
    padding-bottom: 70px;
}

@font-face {
    font-family: "ethnocen";
    src: url("../fonts/ethnocen.ttf") format("truetype");
}

h1 {
    font-family: "ethnocen";
    font-size: 65px;
    color: #965492;
}

h3 {
    font-family: "ethnocen";
    font-size: 20px;
    color: #5a5a5a;
}